*.md
*.env
*.pdf
*.rnd
*.psd
*.rar
*.zip
*.m4a
*.mp4
*.mp3
*.ogv
*.ogg
*.csv
*.xml
*.swf
*.exe
*.rss
*.ico
*.ttf
*.png
*.gif
*.bmp
*.jpg
*.jpeg
*.sql
*.doc*
*.ppt*
*.xls*
.idea/
